.input-override{
    .n-input__state-border, .n-input__border{
      border: none!important;
      box-shadow: none!important;
    }
}

.hidden-tab-header{
  .n-tabs-nav--segment-type{
    display: none !important;
  }
}






