/*@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "./override.scss";

@import "tailwindcss";
:root{
    --primary:#1967D2;
    --success:#2DB346;
    --brown:#B3692D;
    --indigo:#8883EC;
    --error:#E7000A;
    --warning:#FDC700;
    --dark:#0f1114;
    --white:#ffffff;
    --secondary:#74788d;

    --surface-section:#FFFFFF;
    --surface-ground:#F9FCFF;
    --surface-line:#dfe6f4;

    --black-primary:#17161D;
    --black-secondary:#3D3D3D;
    --black-tertiary:#999999;
}

@theme {
    --color-primary:#1967D2;
    --color-success:#2DB346;
    --color-brown:#B3692D;
    --color-indigo:#8883EC;
    --color-error:#E7000A;
    --color-warning:#FDC700;
    --color-dark:#0f1114;
    --color-white:#ffffff;
    --color-secondary:#74788d;


    --color-surface-ground:var(--surface-ground);
    --color-surface-section:var(--surface-section);
    --color-surface-line:var(--surface-line);

    --color-black-primary:var(--black-primary);
    --color-black-secondary:var(--black-secondary);
    --color-black-tertiary:var(--black-tertiary);


    --shadow-navbar:0px 0px 25px rgba(61, 161, 238, 0.2);

    --animate-spin: spin 12s linear infinite;
    --animate-reverse-spin: reverse-spin 12s linear infinite;
    --animate-slide-down: slide-down 0.4s ease-in-out forwards;
    --animate-scale-xs: scale-xs 20s ease-in-out infinite;
    --animate-shimmer: shimmer 1s infinite linear;


}



*{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}









/*keyframes*/
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes reverse-spin {
    to {
        transform: rotate(-360deg);
    }
}
@keyframes slide-down {
    from {
        top: -60px;
    }
    to {
        top: 0;
    }
}

@keyframes scale-xs {
    0% {
        transform:scale(1)
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform:scale(1)
    }
}
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
}